/* === Google Fonts ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');
/* === Corpo da página ===*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Poppins', 'Arial';*/
}
html{
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
    color: inherit;

}
ul {
	list-style: none;
}
.active {
	color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
}
body , html {
	overflow-x: hidden;
}
/* === Navbar ===*/
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
.nav-links {
	display: flex;
	align-items: center;
}
.nav-links li {
	margin: 0 30px;
}
/* === Cabeçalho Site ===*/
header {
	width: 100vw;
	height: 100vh;
	background-image: url('../../assets/Menu-Fundo.png');
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.Titulo-Principal {
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
}
.Titulo-Principal h2 {
	font-size: 4vmin;
	text-align: center;
}
/* === Estilo padrão de linha ===*/
.line {
	width: 150px;
	height: 4px;
	background: #2e5e27;
	margin: 10px auto;
	border-radius: 5px;
}
.Titulo-Principal h1 {
	font-size: 7vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}
/* === Estilo padrão botão ===*/
.ctn {
	padding: 8px 15px;
	background: #2e5e27;
	border-radius: 30px;
	color: rgb(255, 255, 255);
}
.menu-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none
}
/* === Estilo padrão da Section ===*/
section {
	width: 80%;
	margin: 80px auto;
}
.title {
	text-align: center;
	font-size: 4vmin;
	color: #2e5e27;
}
.row {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.row .col .img1{
	width: 80%;
}
.row .col .img2{
	width: 73%;
}
.row .col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* === Conteúdo 1 === */
.Paleorte-Fosseis .row{
	margin-top: 50px;
}
h4{
	color: #2e5e27;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
p {
	color: #000000;
	padding: 0px 40px;
}
.Paleorte-Fosseis h1{
	text-align: center;
}
.Paleorte-Fosseis .ctn{
	margin-top: 30px;
}

/* === Conteúdo 2 === */
.Gigantes-do-Passado {
	width: 100%;
	height: 100vh;
	background-image: url('../../assets/DinoImg7.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.explorar {
	width: 60%;
	padding: 50px;
	color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.explorar h1 {
	font-size: 7vmin;
	text-align: center;
}
.explorar .line {
	margin-bottom: 50px;
}
.explorar p {
	text-align: justify;
	color: rgb(255, 255, 255);
}
.explorar .ctn {
	margin-top: 40px;
}

/* === Conteúdo 3 === */
.content-col {
	width: 40%;
}
.image-col {
	width: 50%;
}
.Periodos-Geologicos .row .col h1{
	text-align: center;
}
.Periodos-Geologicos .col p{
	text-align: left;
}
.Periodos-Geologicos .row .col{
	width: 50%;
}
.Periodos-Geologicos .image-gallery {
	display: flex;
	flex-wrap: wrap;
}
.image-gallery img {
	max-width: 250px;
	margin: 10px;
	
}
.content-col h1 {
	font-size: 7vmin;
	color: #2e5e27;
}
.content-col .line {
	margin-bottom: 20px;
}
.content-col p{
	padding: 0;
	margin: 30px auto;
}
.content-col .ctn{
	text-align: center;
	display: flex; 
	justify-content: center; 
	align-items: center;
}

/* === Footer ===*/
#footer {
	width: 100%;
	min-height: 150px;
	padding: 20px 80px;
	margin: 0;
	background: #2e5e27;
	text-align: center;
}
#footer p {
	color: whitesmoke;
	margin: 20px auto;
}
#footer img {
	margin: 10px;
	width: 40px;
	right: 40px;
	margin-left: 60px auto;
}
.licenca{
	width: 100%;
	padding: 20px 20px;
	margin: 0;
	background: #272e25;
	text-align: center;
}

/* === Animação === */
img{
	transition: transform .3s ease;
}
img:hover {
	transform: scale(1.1);
}
.ctn:hover{
	background: whitesmoke;
	color: #2e5e27;
}

/* === Mobile Layout === */
@media only screen and (max-width:850px){
/* === Cabeçalho e Navbar ===*/
	.menu-btn {
		display: block;
	}
	.navbar {
		padding: 0;
	}
	.logo {
		display: none;
		/*position: absolute;
		top: 30px;
		left: 30px;*/
	}
	.nav-links {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background: #4d7248;
		margin-top: -900px;
		transition: all 0.5s ease;
	}
	.nav-links li{
		margin: 30px auto;
	}
	.mobile-menu {
		margin-top: 0px;
		border-bottom-right-radius: 30%;
	}
	.nav-links li {
		margin: 30px auto;
	}
	/* === Cabeçalho Site ===*/
	header {
		align-items: center;
	}
	.Titulo-Principal{
		margin-bottom: 40px;
	}
	.row {
		flex-direction: column;
	}
	.row .col {
		margin: 20px auto;
	}
	/* === Paleorte-Fosseis ===*/
	.Paleorte-Fosseis .col img {
		max-width: 90%;
	}
	.Paleorte-Fosseis .row .col p{
		/*text-align: center;*/
		font-size: 1rem; /* Tamanho padrão do texto */
		word-wrap: break-word; /* Quebra de linha para texto longo */
	}
	.Paleorte-Fosseis .row .col p{
		font-size: 14px;
	}
	/* === Explorar ===*/
	.explorar {
		width: 100%;
	}
	.explorar p{
		display: none; /*Ocultando elemento*/
	}
	/* === Periodos-Geologicos ===*/
	.Periodos-Geologicos .col {
		width: 100%
	}
	.Periodos-Geologicos .col img {
		max-width: 90%;
	}
	.image-gallery { 
		justify-content: center;
		align-items: center;
	}
	.image-gallery img {
		display: none; /*Ocultando elemento*/
		/*max-width: 300px;*/
	}
	.Periodos-Geologicos .row .col p{
		font-size: 12px;
	}
	/* === Footer ===*/
	#footer p{
		font-size: 12px;
	}
	#footer {
		padding: 2px;
	}
	img{
		transition: transform .0s ease;
	}
	img:hover {
		transform: none;
	}
}
@media (max-width: 480px) {
	/* === Paleorte-Fosseis ===*/
	.Paleorte-Fosseis .row .col p{
		font-size: 12px;
	}
	/* === Explorar ===*/
	.explorar p {
		font-size: 12px;
	}
	/* === Periodos-Geologicos ===*/
	.Periodos-Geologicos .row .col p{
		font-size: 12px;
	}
	/* === Footer ===*/
	#footer p{
		font-size: 12px;
	}
}
