::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(210deg, #green);
	font-family: 'Poppins', sans-serif;
}

.container{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.card {
	perspective: 500px;
}
.card figure{
	position: relative; 
	cursor: pointer;
	width: 200px; 
	height: 300px;
	background-image: url(images1.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	
	border: 2px solid #aaa;
	border-radius: 10px;
	transform-style: preserve-3d;
	/*--will-change: transform;--*/
	transition: transform .5s;
}
.card figcaption{
	color: green;
	font-size: 1.3rem; 
	font-weight: bold;
	margin-top: 20px; 
	margin-left: 20px;
	transition: transform .2s;
}
.card figure:hover{
	transform: translateZ(10px);
	transform: rotateX(-20deg);
	transform: rotateY(40deg);
}
.card figure:hover figcaption {
	transform: translateZ(20px);
}