@media (max-width: 1280px) {
	body {
		padding: 0 40px;
	}
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Times New Roman, Georgia;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #43475e;
}
.menu{
	position: relative;
	transform: skewY(-15deg);
}
.menu .lista{
	position: relative;
	list-style: none;
	width: 200px;
	background: #3e3f46;
	padding: 15px;
	z-index: var(--i);
	transition: 0.5s;
}
.menu .lista:hover{
	background: #33a3ee;
	transform: translateX(-50px);
}
.menu .lista::before{
	content: '';
	position: absolute;
	top: 0;
	left: -40px;
	width: 40px;
	height: 100%;
	background: #2e3133;
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.5s;
}
.menu .lista:hover::before{
	background: #1f5378;
}
.menu .lista::after{
	content: '';
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background: #35383e;
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 0.5s;
}
.menu .lista:hover::after{
	background: #2982b9;
}
.menu .lista .selecionar{
	text-decoration: none;
	color: #999;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.menu .lista:hover .selecionar{
	color: #fff;
}
.menu .lista:last-child::after{
	box-shadow: -100px 100px rgba(0, 0, 0, 0.25);
}
/*--*/
.menu-lateral {
	position: fixed;
	top: 0;
	right: 0;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.menu-lateral .links {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.menu-lateral .icone {
	width: 30px;
	filter: invert(1);
	transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover {
	transform: scale(1.2);
}

.links {
	list-style: none;
}

a {
	text-decoration: none;
}

@media (max-width: 425px) {
.menu-lateral {
		position: static;
		min-height: auto;
		width: 100%;
		margin-top: 50px;
	}

	.menu-lateral ul {
		flex-direction: row;
	}
}