/* === Google Fonts ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins');
/* === Corpo da página ===*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Poppins', 'Arial';*/
}
html{
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
    color: inherit;

}
ul {
	list-style: none;
}
.active {
	color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
}
body , html {
	overflow-x: hidden;
}

/* === Navbar ===*/
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
.nav-links {
	display: flex;
	align-items: center;
}
.nav-links li {
	margin: 0 30px;
}

/* === Cabeçalho Site ===*/
header {
	width: 100vw;
	height: 100vh;
	background-image: url('../../assets/Blog/Menu-Fundo-Blog.png');
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.Titulo-Principal {
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
}
.Titulo-Principal h2 {
	font-size: 4vmin;
	text-align: center;
}

/* === Estilo padrão de linha ===*/
.line {
	width: 150px;
	height: 4px;
	background: #2e5e27;
	margin: 10px auto;
	border-radius: 5px;
}
.Titulo-Principal h1 {
	font-size: 7vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}

/* === Estilo padrão botão ===*/
.ctn {
	padding: 8px 15px;
	background: #2e5e27;
	border-radius: 30px;
	color: rgb(255, 255, 255);
}
.menu-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none
}

/* === Estilo padrão da Section ===*/
section {
	width: 80%;
	margin: 80px auto;
}
.title {
	text-align: center;
	font-size: 4vmin;
	color: #2e5e27;
}
.row {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.row .col .img1{
	width: 80%;
}
.row .col .img2{
	width: 73%;
}
.row .col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* === Galeria de Imagens === */
.wg1{
	grid-column: span 1;
}
.wg2{
	grid-column: span 2;
}
.hg1{
	grid-row: span 1;
}
.hg2{
	grid-row: span 2;
}

section.galeria{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 45vh;
}
div.single-galeria{
	margin: 4px;
	position: relative;
	cursor: pointer;
}
div.img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
div.img img{
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;
	
}
div.conteudo{
	position: absolute;
	color: white;
	background-color: #2e5e27;
	border-left: 3px solid white;
	padding: 0 10px;
	bottom: 10px;
	left: 10px;
	transition: all 0.5s ease-in-out;
}
div.conteudo h1{
	font-size: 18px;
}
div.conteudo p{
	font-size: 10px;
	text-transform: uppercase;
}

div.single-galeria:hover div.overflow{
	opacity: 1;
}
div.single-galeria:hover div.conteudo{
	bottom: 20px;
}
/* === Cards de Notícias === */
.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}
.card{
	width: 325px;
	background-color: #f0f0f0;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin: 20px;
}
.card img{
	width: 100%;
	height: auto;
}
.card-content{
	padding: 16px;
}
.card-content h3{
	font-size: 28px;
	margin-bottom: 8px;
}
.card-content p{
	color: #666;
	font-size: 15px;
	line-height: 1.3;
}
.card-content .btn{
	display: inline-blox;
	padding: 8px 16px;
	background-color: #333;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
	color: #fff;
}
/* === Footer ===*/
#footer {
	width: 100%;
	min-height: 150px;
	padding: 20px 80px;
	margin: 0;
	background: #2e5e27;
	text-align: center;
}
#footer p {
	color: whitesmoke;
	margin: 20px auto;
}
#footer h2{
	color: whitesmoke;
	margin: 20px auto;
}
#footer img {
	margin: 10px;
	width: 40px;
	right: 40px;
	margin-left: 60px auto;
	cursor: pointer;
}
.licenca{
	width: 100%;
	padding: 20px 20px;
	margin: 0;
	background: #272e25;
	text-align: center;
}

/* === Animação === */
.ctn:hover{
	background: whitesmoke;
	color: #2e5e27;
}

/* === Mobile Layout === */
@media only screen and (max-width:850px){
/* === Cabeçalho e Navbar ===*/
	.menu-btn {
		display: block;
	}
	.navbar {
		padding: 0;
	}
	.logo {
		display: none;
	}
	.nav-links {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background: #4d7248;
		margin-top: -900px;
		transition: all 0.5s ease;
	}
	.nav-links li{
		margin: 30px auto;
	}
	.mobile-menu {
		margin-top: 0px;
		border-bottom-right-radius: 30%;
	}
	.nav-links li {
		margin: 30px auto;
	}
	/* === Cabeçalho Site ===*/
	header {
		align-items: center;
	}
	.Titulo-Principal{
		margin-bottom: 40px;
	}
	.row {
		flex-direction: column;
	}
	.row .col {
		margin: 20px auto;
	}
	/* === Galeria de Imagens === */
	.wg1{
	grid-column: span 2;
	}
	.hg1{
		grid-row: span 2;
	}
	section.galeria{
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: calc(45vh / 2);
	}
	/* === Cards de Notícias === */
	div.conteudo h1{
		font-size: 14px;
	}
	/* === Footer ===*/
	#footer p{
		font-size: 12px;
	}
	#footer {
		padding: 2px;
	}
	img{
		transition: transform .0s ease;
	}
	img:hover {
		transform: none;
	}
}

